.DS_Store
/.build
build/
/Packages
xcuserdata/
*.xcuserstate
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/
.netrc
/other